.subtitle{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    &__aboutMe{
        @include before_circle;
        position: relative;
        padding-left: 17px;
    }
    
}